//
// Variables
// --------------------------------------------------

$typography__icon--font-size: 24px;

$mdi-font-path: '../fonts';
$mdi-css-prefix: 'i';
$mdi-font-size-base: $typography__icon--font-size;
$mdi-version: '@@version';

$responsive--xlarge: 1580px;
$responsive--large: 1280px;
$responsive--medium: 980px;
$responsive--small: 736px;
$responsive--xsmall: 480px;

$container-1--margin-h: 48px;