include ../mixins/figure

block vars

doctype html
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->

html(lang='en')
    include ../components/head
    body
        .container-0
            .container-1.page__content
                .container: .container__inner
                    block content
            include ../components/footer
    span(style='height:0;overflow:hidden;')
        block content-post
    span(style='display:none')
        include ../components/foot

// Open source project "http-error-pages" v@@version. See https://bitbucket.org/klemy/http-error-pages for more!