$button--padding-h: 12px;
$button--padding-v: 8px;

.button {
  @extend %util__border-radius;

  @include user-select(none);
  @include rem(font-size, 14px);

  text-decoration: none !important;
  outline: none !important;

  &:focus {
    &:not(:active) {
      box-shadow: 0 0 0 2px $typography__a--outline-color;
    }
  }

  &.button--bold {
    color: #fff;
    font-weight: 700;

    &:hover {
      background: color('blue', 'darken-2');
    }

    &,
    &:focus {
      background: color('blue', 'darken-3');
    }

    &:active {
      background: color('blue', 'darken-4');
    }
  }

  &:not(.button--bold) {
    color: color('blue-grey', 'darken-2');

    &:hover {
      background: color('grey', 'lighten-3');
    }

    &,
    &:focus {
      background: color('grey', 'lighten-4');
    }

    &:active {
      background: color('blue', 'lighten-5');
      color: color('blue', 'darken-3');
    }
  }

  span {

  }
}

@include respond-to(not-small) {

  .button {
    @include rem(padding, $button--padding-v $button--padding-h);

    display: inline-block;
    text-align: left;
  }

  .buttons {
    @include rem(margin, -4px);

    > .button {
      @include rem(margin, 4px);
    }
  }
}


@include respond-to(small) {

  .button {
    @include rem(padding, $button--padding-v*2 $button--padding-h);

    display: block;
    text-align: center;
  }

  .buttons {
    @include rem(margin, -8px);

    > .button {
      @include rem(margin, 8px);
    }
  }
}