.container {
  width: 100%;
  margin: 0 auto;
}

.container__inner {
  @include rem(margin, 0 48px);
}

.container-0 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

.container-1 {
  @include rem(margin, $container-1--margin-h 0);

  z-index: 20;
  flex-grow: 1;
}

.container-2 {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

@include respond-to(not-xlarge) {
  .container {
    @include rem(max-width, 1410px);
  }
}

@include respond-to(only-xlarge) {
  .container {
    @include rem(max-width, 1120px);
  }
}

@include respond-to(only-large) {
  .container {
    max-width: 89%;
  }
}

@include respond-to(only-medium) {
  .container {
    max-width: 92%;
  }

  .container__inner {
    @include rem(margin, 0 32px);
  }
}

@include respond-to(only-small) {
  .container {
    max-width: 100%;
  }

  .container__inner {
    @include rem(margin, 0 24px);
  }
}

@include respond-to(xsmall) {
  .container {
    max-width: 100%;
  }

  .container__inner {
    @include rem(margin, 0 16px);
  }
}