footer.footer
    .container: .container__inner
        .footer__container
            .footer__logo
                a(href='https://clementlesne.xyz?utm_source=error_page_' + page__title): +figure(path='https://static.clementlesne.xyz/images/branding/simple_nb_crop_83px82px.svg?v=@@version', alt="Entreprise logo")
            .footer__text
                p
                    | Developed with&nbsp;
                    span.mdi.mdi-heart
                    | &nbsp;in&nbsp;
                    a(href='https://www.google.fr/maps/place/Le+Havre/@49.4973996,0.1202617,15z/data=!4m5!3m4!1s0x47e02f2395218b7d:0x5bc1867aaf33af12!8m2!3d49.49437!4d0.107929', target='_blank', rel='noopener') Le Havre
                    | &nbsp;city
                p
                    span.mdi.mdi-bitbucket
                    | &nbsp;
                    a(href='https://bitbucket.org/klemy/http-error-pages', target='_blank', rel='noopener') @http-error-pages