link(rel='stylesheet', href='https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css', lazyload)

script.
    window.onload = function (e) {
        var button_reload = document.getElementById('button_location-reload');
        var button_previous = document.getElementById('button_history-back');

        if (button_reload !== null) {
            button_reload.onclick = function () {
                location.reload();
                return false;
            };
        }

        if (button_previous !== null) {
            button_previous.onclick = function () {
                window.history.back();
                return false;
            };
        }
    };

script.
    WebFontConfig = {
        google: {
            families: ['Roboto:400,700']
        },
        timeout: 5000,
        events: false
    };

    (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
    })(document);