head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    meta(name='description', content='Error page for type ' + page__title)

    title='Error ' + page__title

    //!@@css-critical

    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')

    block head--includes