extend ../templates/common/layout

block vars
    - var page__title = '401'

block content
    section.description
        header: h1 401 Bad Request
        p The server cannot process the request due to something that is perceived to be a client error.
        include ../templates/components/button_previous