extend ../templates/common/layout

block vars
    - var page__title = '403'

block content
    section.description
        header: h1 403 Not Allowed
        p Hold up! This page is forbidden.
    section.description
        header: h2 Actions
        .buttons
            include ../templates/components/button_previous
            include ../templates/components/button_reload