extend ../templates/common/layout

block vars
    - var page__title = '404'

block content
    section.description
        header: h1 404 Not Found
        p The page you are looking for is not available.
        include ../templates/components/button_previous