extend ../templates/common/layout

block vars
    - var page__title = '501'

block content
    section.description
        header: h1 501 Webservice currently unavailable
        p An unexpected condition was encountered. Our service team has been dispatched to bring it back online.
    section.description
        header: h2 Actions
        .buttons
            include ../templates/components/button_previous
            include ../templates/components/button_reload
            include ../templates/components/button_report