extend ../templates/common/layout

block vars
    - var page__title = '501'

block content
    section.description
        header: h1 501 Not Implemented
        p The Webserver cannot recognize the request method.
        include ../templates/components/button_previous