extend ../templates/common/layout

block vars
    - var page__title = '502'

block content
    section.description
        header: h1 502 Webservice currently unavailable
        p We've got some trouble with our backend upstream cluster. Our service team has been dispatched to bring it back online.
    section.description
        header: h2 Actions
        .buttons
            include ../templates/components/button_previous
            include ../templates/components/button_reload
            include ../templates/components/button_report