extend ../templates/common/layout

block vars
    - var page__title = '520'

block content
    section.description
        header: h1 520 Origin Error - Unknown Host
        p The requested hostname is not routed. Use only hostnames to access resources.
    section.description
        header: h2 Actions
        .buttons
            include ../templates/components/button_previous
            include ../templates/components/button_report