.footer {
  @include rem(padding, $container-1--margin-h 0);

  background: color('grey', 'lighten-4');
  color: $typography--color--dark-light;

  a {
    color: $typography__a--color--dark-light;
  }
}

.footer__container {
  @include rem(margin, -6px);

  &,
  > div {
    display: flex;
    flex-wrap: wrap;
  }

  > div {
    @include rem(margin, 6px);

    flex-direction: row;
    align-items: center;
  }
}

.footer__logo {
  @include user-select(none);

  figure {
    @include rem(height, 36px);

    width: auto;
  }
}

.footer__text {
  justify-content: flex-end;

  line-height: 1.5;

  > *:not(:last-child) {

    &:after {
      @include rem(padding, 0 8px);

      content: '·';
    }
  }
}

@include respond-to(not-small) {
  .footer__container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .footer__text {
    justify-content: flex-end;
  }
}

@include respond-to(small) {
  .footer__container {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .footer__text {
    justify-content: center;
  }
}