$typography--color--dark: #263238;
$typography--color--dark-light: color('grey', 'darken-1');
$typography--color--bright: #fff;
$typography--color--bright-light: color('grey', 'lighten-2');

$typography__a--color--dark: color('blue', 'darken-3');
$typography__a--color--dark-light: color('blue', 'base');
$typography__a--color--bright: $typography--color--bright;
$typography__a--outline-color: color('blue', 'lighten-1');

$typography__base--font-size: 15px;
$typography__h1--font-size: 29px;
$typography__h2--font-size: 24px;
$typography__h3--font-size: 22px;
$typography__h4--font-size: 18px;
$typography__h5--font-size: $typography__base--font-size;
$typography__h6--font-size: $typography__base--font-size;

@mixin font-base {
  font-family: 'Roboto', sans-serif;
}

%font-base {
  @include font-base;
}

body {
  @extend %font-base;

  @include rem(font-size, $typography__base--font-size);

  color: $typography--color--dark;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  @include rem(font-size, 24px);
  @include rem(line-height, 24px);
}

h2 {
  @include rem(font-size, 20px);
  @include rem(line-height, 24px);
}

%a--dark {
  color: $typography__a--color--dark;
  text-decoration-color: $typography__a--color--dark;
}

%a--bright {
  color: $typography__a--color--bright;
  text-decoration-color: $typography__a--color--bright;
}

a {
  @extend %a--dark;

  text-decoration: none;
  -webkit-tap-highlight-color: rgba(#000, 0);

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $typography__a--outline-color;
    outline-offset: 2px;
  }
}

@include respond-to(not-medium) {
  .page__content {
    p,
    li,
    figcaption {
      text-align: justify;
    }
  }
}

@include respond-to(medium) {
  .page__content {
    p,
    li,
    figcaption {
      text-align: left;
    }
  }
}